body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background: #29323C ;
    display: flex;
    justify-content: center;
    align-items: center;  
    color: #eee;   
}

.container {
    width: 330px;
    max-width: 330px;
    text-align: center;
    padding: 40px;
    background: linear-gradient(to top left, #36404b , #29323C 70% );
    box-shadow: 0 0 50px #202020;
    border-radius: 5px;
}

/* ========== FORM ==========  */
.search-bar{
    padding: 2px 10px;
    background-color: hsla(0, 0%, 77%, 10%);
    border-radius: 5px;
    box-shadow: 0 0 10px #313B45;
    display: flex;
    justify-content: space-between;

}

.search-bar input{
    background: transparent;
    border: none ; 

    flex:1; 
    font-size: 15px;
    outline: none;
    color: #eee; 
}

.search-bar input::placeholder{
   font-size: 15px;
}

.search-bar .icon{
    cursor: pointer;
}
.search-bar .icon:active{
    outline: 1px solid blue;
}

/* ========== CITY ==========  */
#city{
    font-size: 60px;
}

/* ========== TEMPERATURE ==========  */
.temp{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.temp #current{
    font-size: 120px;
}

/* ========== INFO ==========  */
.info{
    border: 3px solid blue; 
    height: 100px;
}
.info .details{
    text-align: left;
}
.info img{
    
}
